  /*头部搜索栏开始*/
.index{
    width:100%;
    height:80rpx;
    line-height:80rpx;
    position: relative;
    left:0;
    top:0;
    display: flex;
  }
  .city{
      font-size: 24rpx;
      width:150rpx;
      height:100%;
      text-align:center;
      box-sizing: border-box;
      padding:0 20rpx;
      overflow:hidden; 
      text-overflow:ellipsis;
      white-space:nowrap; 
  }
  .search{
      flex:1;
      position: relative;
  }
  input{
    width:90%;
    background:rgb(0, 0, 0,0.1);
    height:60rpx;
    line-height:60rpx;
    box-sizing: border-box;
    margin:10rpx 0;
    padding:0 20rpx 0 40rpx;
    font-size: 28rpx;
  }
  span{
    position: absolute;
    top: 25rpx;
    left: 10rpx;
    background: url('http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/search2-2fb94833aa.png') center no-repeat;
    background-size: 100%;
    width: 28rpx;
    height: 28rpx;
    margin-right: 10rpx;
  }
  /*头部搜索栏结束*/

/*轮播图开始*/
.swiperBox{
  margin-top:20rpx 0;
  width:100%;
  height: 400rpx;
}
.swiper{
  width:100%;
  height: 100%;
}
.swiperItem{
  width:100%;
  height: 100%;
}
.swiperImage{
  width:100%;
  height: 100%;
}
/*轮播图结束*/

/*居家开始*/
.channer{
  background: #fff;
  padding:20rpx 0;
}
.channer ul{
  display: flex;
}
.channer li{
  flex:1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.channer p{
  font-size: 28rpx;
  margin-top:6rpx;
}
.channer img {
  width:44rpx;
  height:44rpx;
}
.indexBox{
  background: rgba(255,255,255,.7);
}
/*居家结束*/
/*品牌制造商专供开始*/
.brandList{
  margin:20rpx 0;
  background: #fff;
}
.brandList .title{
  height:100rpx;
  line-height: 100rpx;
  text-align: center;
  color:#bbb;
  font-size: 30rpx;
}
.brandList ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.brandList li{
  width:49%;
  height: 235rpx;
  position: relative;
}
.brandList li img{
  width:100%;
  height:100%;
}
.brandList li .name{
  font-size: 28rpx;
  position:absolute;
  top:20rpx;
  left: 20rpx;
}
.brandList li .price{
  font-size: 26rpx;
  color:#bbb;
  position:absolute;
  top:60rpx;
  left: 20rpx;
}
/*品牌制造商专供结束*/

/*新品首发开始*/
.scroll-x{
  white-space:nowrap;
  display:flex;
}
.rowItem {
  display: inline-block;
}
.item-image{
  display: inline-block;
  width: 280rpx;
  height: 280rpx;
}
.newGoods .title{
  width:100%;
  height:260rpx;
  background: url('../../../static/images/bgnew.png') no-repeat center;
  background-size: 100% 100%;
  text-align: center;
  box-sizing: border-box;
  padding-top:80rpx;
}
.newGoods .title p:first-child{
  font-size: 30rpx;
  color: #8c9bae;
}
.newGoods .title p:nth-child(2){
  width: 180rpx;
  height: 50rpx;
  line-height: 50rpx;
  margin: 27rpx auto 0 auto;
  font-size: 22rpx;
  color: #8c9bae;
  background: #d8e4f0;
}
.newGoods .list p{
  width: 94%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 8rpx;
  text-indent: 1em;
}
.newGoods .list p:nth-child(2) {
  font-size: 30rpx;
  font-weight: bold;
}
.newGoods .list p:nth-child(3) {
  font-size: 24rpx;
  color: #8a8a8a;
}
.newGoods .list p:nth-child(4) {
  font-size: 24rpx;
  color: #9c3232;
}

.hotGoods .title{
  background: url('../../../static/images/bgtopic.png') no-repeat center;
}
.hotGoods .title p:first-child{
    color: #b1a279;
    font-size: 32rpx;
    vertical-align: middle;
}
.hotGoods .title p:nth-child(2){
  background: #f4e9cb;
  font-size: 22rpx;
  color: #b1a279;
}
/*新品首发结束*/
/*专题精选开始*/
.topicList{
  width:100%;
  margin-top: 20rpx;
  background-color: #fff;
}
.topicList .title{
  padding:20rpx 0;
  height: 80rpx;
  line-height: 80rpx;
  text-align: center;
  width:100%;
}
.topicList .list{
  display: inline-block;
  width: 575rpx;
  margin-left: 25rpx;
}
.topicList .list .item-image{
    display: block;
    width: 575rpx;
    height: 325rpx;
    border-radius: 10rpx;
}
.topicList .list p{
  width: 94%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.topicList .list p:nth-child(2){
  font-size: 28rpx;
}
.topicList .list p:nth-child(3){
  font-size: 26rpx;
  color: #8a8a8a;
}
.topicList .list p:nth-child(4){
  font-size: 26rpx;
  color: #9c3232;
}
/*专题精选结束*/
/*购物列表*/
.newList {
  width:100%;
}
.newList .title{
  widows: 100px;
  padding:40rpx 0;
  font-size: 28rpx;
  text-align: center;
}
.newCategoryList .newList ul{
  
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.newCategoryList .newList li {
  width: 360rpx;
  background: #fff;
  margin-bottom: 10rpx;
  padding-bottom: 10rpx;
  display: flex;
  flex-direction: column;

}
.newCategoryList .newList li img{
  width: 302rpx;
  margin: 0 auto;
  height: 302rpx;
}
.newCategoryList .newList ul li  .name{
  font-size: 28rpx;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #8a8a8a;
  text-indent: 2em;
}
.newCategoryList .newList ul li .price{
  font-size: 26rpx;
  color: #9c3232;
  text-indent: 2em;
}
.newLists{
 float:left;
}