/*搜索头部*/
.search{
    width:100%;
    height: 100%;
    position: relative;
}
.search .header{
    width:100%;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 1rpx solid rgba(255,255,255,.4);
    height: 91rpx;
    line-height: 91rpx;
    display: flex;
    padding: 0 32rpx;
    align-items: center;
    justify-content: space-between;
}
.search .header .div{
    display: flex;
    height: 59rpx;
    align-items: center;
    margin-left: 10rpx;
    background: #f4f4f4;
}
.search .header .div img{
    display: inline-block;
    width: 31rpx;
    height: 31rpx;
    padding: 0 20rpx;
}
.search .header .div .del{
    width: 53rpx;
    height: 53rpx;
    padding: 0;
}
.search .header .cancel{
    flex:1;
    font-size: 28rpx;
}
.history{
    margin-top: 20rpx;
    width:100%;
    background: #fff;
    padding:20rpx;
    box-sizing: border-box;
    
}
.history .his_top{
    display: flex;
    width:100%;
    height:50rpx;
    justify-content: space-between;
    align-items: center;
}
.history .his_top span{
    font-size: 28rpx;
}
.history .his_top span:nth-child(2){
    width: 55rpx;
    height: 55rpx;
    background: url("http://nos.netease.com/mailpub/hxm/yanxuan-wap/p/20150730/style/img/icon-normal/del1-93f0a4add4.png") no-repeat;
    background-size: 100% 100%;
}
.history .his_list{
    display: flex;
    flex-wrap: wrap;
}
.history .his_list li{
    font-size: 28rpx;
    padding:10rpx;
    border:1rpx solid #8c9bae;
    color: #8c9bae;
    margin:20rpx;
}
.hotHis .his_list .active{
    color:red;
}


.search .searchListVal{
    position: absolute;
    width: 100%;
    top: 91rpx;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32rpx;
    z-index: 9;
    background: #fff;
    overflow-y: scroll;
   
    -webkit-overflow-scrolling: touch;
}
.search .searchListVal li{
    font-size: 40rpx;
    line-height: 60rpx;
}
.search .dataList .data_title{
    display: flex;
    align-items: center;
    height:80rpx;
    border-bottom: 1rpx solid #d9d9d9;
}
.search .dataList .data_title div{
    flex:1;
    text-align: center;
    font-size: 30rpx;
}
.search .dataList .data_title .active{
    color: #b4282d;
  }
  .search .dataList .data_title  .price {
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/no-3127092a69.png) 165rpx center no-repeat;
    background-size: 15rpx 21rpx;
  }
  .search .dataList .data_title  .active.desc {
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/down-95e035f3e5.png) 165rpx center no-repeat;
    background-size: 15rpx 21rpx;
  }
  .search .dataList .data_title .active.asc {
    background: url(http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/up-636b92c0a5.png) 165rpx center no-repeat;
    background-size: 15rpx 21rpx;
  }
 .search .dataList .data_list{
    display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
 }
 .search .dataList .data_list li{
     width:50%;
     text-align: center;
    background-color: #fff;
    padding: 15rpx 0;
    border-bottom: 1rpx solid #d9d9d9;
    border-right: 1rpx solid #d9d9d9;
    box-sizing: border-box;
 }
 .search .dataList .data_list li:nth-child(2n){
    border-right: none;
 }
 .search .dataList .data_list li img{
    display: block;
    width: 302rpx;
    height: 302rpx;
    margin: 0 auto;
  }
  .search .dataList .data_list li p{
      font-size: 30rpx;
  }
  .search .dataList .data_list li p:nth-child(3){
    color: #b4282d;
  }